* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: white;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: white;
  padding: 10px 20px;
}

nav {
  display: flex;
  align-items: center; 
  gap: 20px;           
}

.logo {

  width: 60px;        
  height: auto;        
  display: block;
}

nav a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.search-group {
    display: flex;
    gap: 8px;
    align-items: center;
}

.search-input-wrapper {
    position: relative;
    flex-grow: 1;
}

.search-input-wrapper svg {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
    pointer-events: none;
}

.search-input-wrapper input {
    width: 100%;
    padding: 10px 10px 10px 35px; 
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 50px;
    transition: border-color 0.2s;
}

.search-input-wrapper input:focus {
    outline: none;
    border-color: black;
}

/* slider start */

.slider{
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.slide{
    width: 100%;
    height: 500px;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: 1s;
}

.slide.active{
    opacity: 1;
}









/* footer Start */

.footer {
  background: #edf1f4;
  padding: 50px 60px;
  font-family: Arial, sans-serif;
  color: #1d1d1d;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}

.footer-brand {
  max-width: 340px;
}

.logo {
  font-size: 90px;
  font-weight: 700;
  margin: 0;
  line-height: 1;
  letter-spacing: -3px;
}

.logo span {
  color: #e11b22;
}

.footer-brand h2 {
  margin-top: 20px;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
}

.subscribe-box {
  margin-top: 25px;
  width: 100%;
  max-width: 340px;
  background: #fff;
  border-radius: 12px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
}

.subscribe-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
  color: #555;
  background: transparent;
}

.subscribe-box button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #bbb;
  background: #fff;
  cursor: pointer;
  font-size: 20px;
  color: #555;
  transition: 0.3s;
}

.subscribe-box button:hover {
  background: #000;
  color: #fff;
}

.footer-links {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
}

.footer-column {
  min-width: 60px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 22px;
  font-weight: 700;
}

.footer-column a {
  display: block;
  text-decoration: none;
  color: #444;
  font-size: 15px;
  margin-bottom: 16px;
  transition: 0.3s;
}

